body{
    font-family: 'Open Sans', sans-serif;
}



.nav-header {
   padding: 20px;
}

.custom-container-img{
    background: url("/images/digital-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 82vh;
}


.btn.disabled, .btn:disabled, fieldset:disabled .btn{
    color: green;
    
    border-color: green 
    
}
.banner-inner {
    z-index: 0;
    max-width: 580px;
    position: relative;
    padding: 0 15px
}

 .navbar-nav > li {
   
    margin: 0 10px;
   }
   
.banner-inner .dg-header-1 {
        font-size: 65px;
        font-family: 'Open Sans', sans-serif;
        margin: 0;
        font-weight: bolder;
 }
 .banner-inner .banner-details {
    margin-top: 20px;
    /* font-size: 18px; */
    line-height: 26px;
    font-family: 'Bitter', serif;
}
.banner-text {
    position: absolute; 
    bottom: 100px;
    width: 100%;
    left: 0;
}


.img-part{
    float: right;
}

.container-2 {
    font-family: 'Bitter', serif;
    width: 970px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 56px;
}
.title-header{
    padding: 60px 0 0 0px;
    padding-bottom: 111px;
}
.dg-header-2 {
    font-size: 40px;
    letter-spacing: 0.3px;
    line-height: 50px;
    /* padding-top: 20px; */
    /* padding-bottom: 24px; */
    padding-left: 46px;
   
}
.text-details {
    color: #9BA0A7;
    padding-left: 30px;
}
.dg-header-5 {
    font-size: 16px;
    /* color: #9BA0A7; */
    letter-spacing: 0.2px;
    line-height: 28px;
    
}


.single-img{
    padding-left: 60px ;
}


.img-part{
    margin-top: 100px;
}
.dg-header-3{
    font-size: 40px;
    letter-spacing: 0.3px;
    line-height: 50px;
    /* padding-top: 140px; */
     /* padding-bottom: 60px;  */
    padding-left: 80px; 
   
}
.section-4{
    font-family: 'Open Sans', sans-serif;

}
.text-details{
    margin-top: 30px;
}
.dg-header-8{
    padding-left: 0px;
}
.market-detail{
    padding-top: 111px;
    /* font-size: 40px; */
}

.work-block{
    padding-top: 30px;
    padding-left: 187px;
    padding-bottom: 30px;
    padding-right: 187px;
}
.head{
    font-size: 40px;
    /* background-color: #65E214; */
}

.peaple-responce{
    padding: 20px 20px 20px 20px;
    background-color: #3d3d3f;
    color: #fff;
    padding: 27px 0 34px 0;
    justify-content: space-between;
}
.count-global-stat h1 {
    font-size: 40px;
    color: #65E214;
    margin: 0;
}

.con-details{
    background-color: #65e214;
    text-align: center;

}

.footer-top .footer-section-title {
    margin: 0;
    font-size: 20px;
}
.fa-brands, .fab {
    font-weight: 400;
    font-size: 30px;
}
 .footer-list li {
    list-style-type: none;
    margin-bottom: 8px;
}
.footer-blocks{
    padding-top: 56px;
}
.main-footer{
    background-color: #3d3d3f;
    margin-top: 50px;
}
 ul li a:hover{
    color: #65E214;
}
 div i:hover{
    color: #65E214;
}
.image-green-shadow{
    /* border: 1px solid;
  padding: 10px; */
  box-shadow: 10px 12px #65E214;
}
.side-gray-border {
    
    padding: 33px 91px 31px 20px;
    border: #e5eaec solid 2px;
    position: relative;
    z-index: 9;
    margin-left: 45px;
    /* text-align: center; */
    margin-top: 150px;
    margin-right: 20px;
    

}
 .single-img .img-details:before {
    width: 20px;
    height: 70%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* height: 20px; */
    background-color: #f8f8f8;
}
.single-img .img-details:after {
    width: 100%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background-color: #f8f8f8;
}


