.navbar-nav a {
    margin: 5px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar-nav a:hover {
    color: #06BBCC;
}

.col-4 i, h6 {
    font-size: 38px;
    color: #06BBCC;
}
.carousel-caption h5,h1,p {
    text-align: start;
    padding-bottom: 18px;
    margin: 0px;
}
.carousel-caption h1{
    width: 564px;
    font-size: 60px;
    color: white;
}
.carousel-caption p{
    color: #000000;
    font-weight: 500;
    font-size: 22px;
    width: 790px;
}
.services-card .card{
   background-color: #f0fbfc;
}
.services-card .card:hover{
    background-color: rgb(208, 218, 125);
}
.about img {
    width: 500px;
}
.img1{
    width: 746px;
}
.img2{
    width: 365px;
}
.img3{
    width: 365px;
}
.img4{
    width: 370px;
    height: 540px;
}



