/* // // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// // XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }
 */


 @media (min-width: 100px  ) { 


  }
  @media (min-width: 100px) and (max-width: 320px){
    body{
      background-color: red;
  }
  .navigation-bar-1 {
    display: none;
  }
  .navigation-bar-2{
    display: none !important;
  
  }
  .thisisok{
    display: none;

  }
  .rounded{
    height: 400px ;
    width: 200px;
  }
  .footer{
    display: none;
  }
 
  .section-8{
    display: none;
  }
  .img-text-container-2{
   
    height: 600px !important;
    width: 300px !important;
   
    
  }
  .email-subcription-bar {
    height: 75px;
    width: 500px;
    background-color: #130f40;
    border-radius: 30px;
}
  }