body{
    margin: 0px;
}

.div-header span{
    color: orange;
    font-size: 25px;
}
.div-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    
}

.p1 ul li{
    display: inline-block;
   
    

}

.p1 ul li a{
    text-decoration: none;
    padding: 0px 10px;
    color: black;
    font-size: 20px;
    font-weight: 800;
    
}

.image-first{
   background-color: white;
   padding: 40px;
   border-radius: 30px;
}

.main-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
}


.hero-section{background-color: #dfe2c6;
    width: 100%;

}
.c1 {
    font-size: 35px;
    margin: 0px;
}

.c2 {
    font-size: 60px;
    font-family: 'Alkalami', serif;
    margin: 0px;
    width: 370px;
}
.content3{
    text-align: center;
    width: 380px;
}
.k1{
    color: green;
}
.d3{
    display: flex;
}
.d4{
    margin: 50px;
    padding: 40px; 
}

p.d5 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
p.d6{
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
}

p.d7{
    font-size: 24px;
}
.img1{margin: 50px 0px;}

.e2{
    display: flex;
}
.e1{
    display: flex;
    font-size: 23px;
    margin: 0px 50px;
    font-family: 'Open Sans';
   }

    .e3 {
        margin: 80px 0px;}
.e5{width: 360;}
.e4{margin: 0px 100px}
.e5{
    width: 300px;
    padding: 0px 20px
}
    
.e5 span{
    font-family:sans-serif;
   font-weight: bold;
}

.f1{
    display: flex;
}
.f2 {
    margin: 10px 100px;
}
img.f4 {
   
    margin: 0px 10px;}

.f7{
    padding: 10px 0px;
}
.f8{
    font-family: 'Dosis', sans-serif;
}
.g1{
    display: flex;
    justify-content: space-around;
}
.g2{
    width: 580px;
    font-size: 20px;
    font-family: 'Noto Sans Mono', monospace;
}
.g3{
    font-size: 60px;
    width: 350px;
    font-family: 'Josefin Sans';
    margin: 10px 0px;
}
.h1{
    display: flex;
    justify-content: space-around;
    margin: 100px 10px;
}
.h2{
    font-size: 50px;
    width: 400px;
}
.h3{
    font-size: 30px;
    width: 350px;
}
.i1{
    display: flex;
    justify-content: space-around;
}
.i2{
    font-size: 40px;
    width: 300px;
    margin: 0px 40px;
}
.i3{
    width: 400px;
    font-size: 25px;
}
.j1{
    display: flex;
    justify-content: space-around;
   margin: 70px 0px;

}
.j3{font-family: 'Fira Sans';
    font-size: 40px;

}
.j2{   width: 500px;
    


}
.j4{    font-family: 'Montserrat';
    font-size: 30px;
    width: 350px;

}
.j5{
    background-color: #dadada;
    padding: 30px;
    margin: 10px;

}
.j6{
    width: 500px;
    margin: 0px 130px;
}
.k3{
    border: 1px solid white;
    background-color: #e3e2e2;
    height: 700px;
    font-size: 40px;
    width: 600px;

}
.k4{
    display: flex;

}
.k5{
    font-family: 'Cairo';
    font-size: 50px;
    margin: 0px 40px;
}
.l1{
    display: flex;
}
.l2{
    font-size: 25px;
    font-family: 'Gemunu Libre';
}
.l3{
    width: 400px;
    font-size: 20px;
}

