body {
    font-family: 'Alkalami', serif;
    font-family: 'Fuzzy Bubbles', cursive;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 500;
}