*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand img {
    width: 150px;
    margin-left: 30px;
}

.page1 
{
    background-image: url("../img/home-background.jpg");
    background-size: cover;
}
.hero-text
{
    
   margin-left: 80px;
    justify-content: center;
    margin-top: 80px;

}
.cl8
{
    padding-left: 10px;
}
