body {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Header Section Start */

.header-top {
    background-color: #203a72;
}

.header-top span {
    font-size: 13px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}

.header-top-left {
    padding: 18px 0px;
    margin-left: 25px;
}

.header-top-right {
    padding: 18px 0px;
    padding-left: 84px;
}

.header-top-right span:first-child {
    margin-right: 25px;
}

.header-bottom {
    padding: 15px 0px 19px 0px;
    align-items: center;
    background-color: #fff;
    /* position: fixed; */
}

.header-logo {
    padding-left: 26px;
}

.nav ul {
    list-style: none;
    margin: 0px;
}

.nav ul li a {
    text-decoration: none;
    color: #1c3a6b;
    padding: 0px 15px;
    font-weight: 600;
    display: block;
    transition: color .22s ease, color .22s ease;
}

.menu {
    padding-left: 17px;
    padding-top: 5px;
    font-size: 14px;
}

.menu li {
    position: relative;
}

.submenu-1 {
    position: absolute;
    background-color: #fff;
    width: 180px;
    padding-left: 0px;
    padding-top: 15px;
    display: none;
}

.submenu-2 {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
    background-color: #fff;
    padding-left: 0px;
    display: none;
}

.submenu-1 li {
    padding: 6px 0px;
}

.submenu-2 li {
    padding: 6px 0px;
    padding-left: 0px;
}

.costum-width-submenu {
    width: 94px;
}

.search {
    padding: 0px 16px;
    font-size: 17px;
}

/* hover */

.menu a:hover {
    color: #f5ae21;
}

.menu i:hover {
    color: #f5ae21;
}

.menu li:hover>.submenu-1 {
    display: block;
    animation: slidedown .5s ease;
}

.submenu-1 li:hover>.submenu-2 {
    display: block;
    animation: slideright .5s ease;
}

/* Animation Keyframes */

@keyframes slidedown {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: translateY(25px);
    }
}

@keyframes slideright {
    0% {
        opacity: 0;
        transform: none;
    }

    100% {
        opacity: 1;
        transform: translateX(25px);
    }
}

/* End of Header Section*/